<ul class="nav justify-content-center">
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" href="/">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/about">About</a>
  </li>
    <li class="nav-item"></li>
<a class="nav-link" href="/login">Login</a>
    

  </i>
  <li class="nav-item">
    <a class="nav-link" href="/Register">Register</a>
  </li>
</ul>

