<!DOCTYPE html>
<html lang="en">
<head>


<main>
<div class="row">
  <div class="col-sm-8">
    <div class="jumbotron">

      

    </div>
  </div>

  <div class="col-sm-4">
    <div class="well">
      <h3>Tech-Hub IPN By Team1 People </h3>

       <p style="text-align: center;">As part of the Central Bank of Egypt’s plan to achieve financial
inclusion and provide banking services to all society members, and in
light of the plan developed by the Central Bank’s digital transformation
and the need to increase the number of electronic transactions and
provision of various means of payment and collection to meet the
needs of customers, these rules aim to develop a framework for
banks and mobile phone application service providers regarding the
Instant Payment Network to allow customers and banks to carry out
instant transfers through electronic payment tools and provide all
segments of society with appropriate banking services.</p>
      
    </div>
  </div>
</div>
</main>





<footer>
  <style></style>
  <%- include('../partials/footer'); %>
</footer>

</body>
</html>